body
{
    width: auto;
    font-family: 'Raleway';
    margin: auto;

    
}
main
{
    width: 95%;
    margin: auto;
}
li
{
    display: inline-block;
    margin-left: 20px;
}
header 
{
    display: flex;
    justify-content: space-between;
    color: rgb(50, 181, 241);

}
a
{
    text-decoration: none;
    color: black;
}
a:hover
{
    color: rgb(32,120,252)
}
#inscrire
{
    color: rgb(16,111,252);
}
h1
{
    font-size: 1.5em;
}
.navigation
{
    display: flex;
    
}
.navigation h2
{
    margin-top: 20px;
}
.menu
{
    display: flex;
    align-items: flex-start;
    margin-left: -40px;
    
}

.btn-bckgr
{
    background-color: rgba(222,235,255,1);
    height: 37px;
    width: 37px;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
    top: -2px;
    left: -2px;
    bottom: -1px;

    
    
}
.bouton
{
    border: 1px solid silver ;
    align-items: center;
    margin: 0px 20px 0px 20px;
    position: relative;
    width: auto;
    height: 35px;
    border-radius: 20px;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px silver;
    
}
.menu > span
{
    margin-left: 32px;
    margin-right: 22px;
    font-weight: bold;
}
nav i
{
    
    color: rgb(0,101,252);
    z-index: 3;
}
.nom
{
    margin-top: 5px;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 20px;
}
.un
{
  margin-left: 6px;
}
.deux
{
    margin-left: 10px;
}
.trois
{
    margin-left: 8px;
    
}
.quatre
{
    margin-left: 7px;
    margin-bottom: 3px;
}



.info
{
    
    font-size: 12px;
    position: relative;
    margin-left: 9px;
    margin-top: 6px;
    font-size: 10px;
    
    
}
.info-bckgr
{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    border: 1px solid silver;
}
.bulle-info
{
    display: flex;
}
.descr
{
    margin-left: 20px;
    font-weight: lighter;
}
#conteneur
{
    width: 100%;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    
    
    
}
.box-1
{
    width: 67%;
    height: 600px;
    
    
    background-color: rgb(242,242,242);
    border-radius: 10px;
}
.con-tit
{
    width: auto;
    height: 30px;
    padding-top: 30px;
 
    font-weight: 900;
    font-size: 20px;
    margin-left: 10px;
    
}
.photos
{
    width: auto;
    height: auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.images
{
    width: 230px;
    height: 180px;
    background-color: white;
    box-shadow: 1px 1px 5px silver;
    cursor: pointer;
    
    border-radius: 20px;
    margin: 30px;
    z-index: 0;
    
}
.visuel
{
    height: 130px;
    width: 226px;
    border-radius: 20px;
    margin-top: 2px;
    margin-left: 2px;
    position: relative;
    z-index: 1;
}
.pied
{
    width: 226px;
    height: 60px;
    background-color: white;
    position: absolute;
    z-index: 2;
    margin-top: 110px;
    margin-left: 2px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
.description
{ 
    width: 200px;
    height: 50px;    
}
.description h2
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 10px;
}
.description p
{
    font-size: 11px;
    margin-top: -10px;
    margin-left: 10px;
}
.etoile
{
    font-size: 10px;    
}
.notation
{
    position: absolute;
    margin-top: -8px;
    margin-left: 10px;
}
.gras
{
    font-weight: bold;
}
.suggest
{
    font-weight: bold;
    margin-right: 800px;
}

.box-2
{
    width: 30%;
    background-color: rgb(242,242,242);
    border-radius: 10px;
    height: 600px;
}
.con-tit-deux
{
    display: flex;
    justify-content: space-between;
    height: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}
.cagette
{
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}
.template
{
    width: 350px;
    height: 130px;
    cursor: pointer;
    margin-top: 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 5px silver;

}
.bonobo
{
    width: 150px;
    height: 126px;
    margin-top: 2px;
    margin-left: 2px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.adroitetavu
{
    width: 130px;
    height: 80px;
    
    position: absolute;
    margin-left: 175px;

    
}
.adroitetavu h2
{
    margin-top: 2px;
    font-size: 17px;
    
}
.adroitetavu p
{
    margin-top: -10px;
    font-size: 13px;
}


.adroitetavu > i
{
    font-size: 10px;
    margin-top: 15px;
}
.conteneur-activites
{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    
    
}
.conteneur-bulles-activites
{
    width: 100%;
    height: 400px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 20px;
}
.bulles-activites:nth-child(1)
{
    width: 300px;
    height: 400px;
    
    background-color: white;
    overflow: hidden;
}
.bulles-activites:nth-child(2)
{
    width: 300px;
    height: 200px;
    
    background-color: white;
}
.bulles-activites:nth-child(3)
{
    width: 300px;
    height: 150px;

    background-color: white;
}
.bulles-activites:nth-child(4)
{
    width: 300px;
    height: 400px;
    
    background-color: white;
}
.bulles-activites:nth-child(5)
{
    width: 300px;
    height: 180px;
    
    background-color: white;
}
.bulles-activites:nth-child(6)
{
    width: 300px;
    height: 180px;
    
    background-color: white;
}
.bulles-activites 
{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 5px gray;
    cursor: pointer;
}


.photo-activites-2
{
    width: 300px;
    height: 150px;
    background-image: url("activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px 350px;
    

    
}
.photo-activites-1
{
    width: 300px;
    height: 350px;
    background-image: url("activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-position: center;

}
.photo-activites-3
{
    width: 300px;
    height: 100px;
    background-image: url("activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: 300px 150px;
}
.photo-activites-4
{
    width: 300px;
    height: 350px;
    background-image: url("activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: 400px 400px;
    background-position: center;
}
.photo-activites-5
{
    width: 300px;
    height: 130px;
    background-image: url("activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: 300px 200px;
}
.photo-activites-6
{
    width: 300px;
    height: 130px;
    background-image: url("activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: 300px 180px;
}
.bulles-activites p
{
    margin-left: 10px;
}
.conteneur-footer
{
    width: 100%;
    height: 200px;
    background-color: rgba(242,242,242,1);
    
    
    
    
    
}

.conteneur-texte
{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    

    
}
.zone-recherche
{
    
    
    border-radius: 10px;
    display: flex;
    box-sizing: border-box;
    

    
}
.btn-loupe
{
    display: none;
}

.position
{
    background-color: rgb(242,242,242);
    
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 10px;
    
}
#onglet-recherche
{
    border-top: 1px solid rgb(242,242,242);
    border-top-right-radius: 10px;
    border-bottom: 1px solid rgb(242,242,242);
    border-bottom-right-radius: 10px;
}
input[type=text] 
{
    width: 150px;
    height: 30px;
    border: none;   
}
input[type=submit]
{
    background-color: rgb(0, 101, 252);
    border: none;
    padding: 6px 2px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    height: 37px;
    width: 100px;
    color: white;
    
}
.blue
{
    color: rgb(0, 101, 252);
}
.grey
{
    color: grey;
}

@media all and (max-width: 1400px)
{
    body
    {
        width: 100%;
    }
    main
    {
        width: 90%;
    }

    header h1
    {
        font-weight: bold;
    }
    .btn-recherche-nav
    {
        display: none;
        
    }
    button
    {
        width: auto;
        height: auto;
        background-color: white;
        border: none;
    }
    input[type=text]
    {
        width: 200px;
    }
    .btn-loupe
    {
        display: inline;
        margin-top: -5px;
        height: auto;
        width: auto;
        background-color: rgb(0, 101, 252);
        color: white;
        border-radius: 12px;
        padding: 11px 11px;
    }
   .zone-recherche
   {
       padding-left: 20px;
       
   }
    #conteneur
    {
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
    }
    .con-tit
    {
        margin-bottom: 20px;
    }
    .con-tit-deux
    {
        margin-bottom: 20px;
    }
    .box-1
    {
        width: 110%;
        margin-left: -5%;
        margin-top: 20px;
        height: auto;
        background-color: white;
        
    }
    .photos
    {
        
        width: 110%;
        margin-left: -5%;
    }
    .box-2
    {
        width: 112%;
        height: 530px;
        margin-left: -6%;
        border-radius: 0px;
    }
    .template
    {
        width: 90%;
        margin-top: 10px;
    }
    .images
    {
        width: 110%;
        margin-top: -10px;
        border-radius: 20px;
        
        
    }
    .visuel
    {
        width: 99%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .pied
    {
        width: 92%;
    }
    
    
    
    
    .conteneur-activites
    {
        
        height: auto;
        width: 110%;
        margin: 10px;
        
        margin-left: -5%;
        
    }
    
    .conteneur-bulles-activites
    {
        width: auto;
        height: auto;
        margin: auto;
    }
    
    
    .bulles-activites:nth-child(1)
    {
        width: 95%;
        height: 180px;
        margin: auto;
        margin-bottom: 20px;
        
        
    }
    .bulles-activites:nth-child(2)
    {
        width: 95%;
        height: 180px;
        margin: auto;
        margin-bottom: 20px;
        
    }
    .bulles-activites:nth-child(3)
    {
        width: 95%;
        height: 180px;
        margin: auto;
        margin-bottom: 20px;
        
    }
    .bulles-activites:nth-child(4)
    {
        width: 95%;
        height: 180px;
        margin: auto;
        margin-bottom: 20px;
        
    }
    .bulles-activites:nth-child(5)
    {
        width: 95%;
        height: 180px;
        margin: auto;
        margin-bottom: 20px;
        
    }
    .bulles-activites:nth-child(6)
    {
        width: 95%;
        height: 180px;
        margin: auto;
        margin-bottom: 20px;
        
    }
    .photo-queries
    {
        
        background-repeat: no-repeat;
        background-size: 350px 180px;
        width: auto;
        height: 130px;
        
        
    }
    .photo-activites-2
    {
        background-size: 350px 550px;
    }
    
    .conteneur-texte
    {
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .conteneur-footer
    {
        width: 100%;
        height: auto;
    }
    .menu
    {
        width: auto;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-top: 10px;
        
        
    }
    .ecart
    {
        margin-left: 1px;
    }
    .navigation h2
    {
        margin-left: 0px;
        padding-top: 20px;
        
        
    }
    .navigation
    {
        display: inline-block;
        width: 110%;
        
        
        
    }
   
    .bouton
    {
        width: auto;
        
    }
    
    .zone-recherche
    {
        margin: auto;  
    }
    
    .entete
    {
        margin-top: 70px;
    }
    header ul
    {
        display: flex;
        flex-direction: row;
        margin-left: -80px;
        margin-top: 60px;
        margin-bottom: 50px;
        position: absolute;
        

    }
    
    a
    {
        border-bottom: 2px solid silver;
        color: black;
        margin-right: -20px;
        padding: 10px 50px;
        font-weight: bold;
        margin-left: -10px;
        
        
    }
    a:hover
    {
        border-bottom: 2px solid blue;
        color: blue;
    }
    #inscrire
    {
        position: absolute;
        margin-top: -45px;
        margin-left: 280px;
        color: rgb(16,111,252);
    }
    
    
}
@media all and (min-width: 740px) and (max-width: 1400px)
{
    #inscrire
    {
      margin-left: 180%;  
    }
    li
    {
        margin-left: 50%;
        
    }
    a
    {
        border: none;
    }
    a:hover
    {
        border: none;
    }
    header
    {
        border-bottom: 2px solid rgb(242,242,242);
        padding-bottom: 50px;
        
    }
    .ecart1
    {
        margin-left: 5px;
    }
    .images
    {
        width: 50%;
    }
    .photo-queries
    {
        background-size: 450px 200px;
    }
    .photo-activites-2
    {
        background-size: 450px 500px;
    }
    .pied
    {
        width: 54%;
    }
    .bulles-activites:nth-child(1)
    {
        width: 49%;
    }
    .bulles-activites:nth-child(2)
    {
        width: 49%;
    }
    .bulles-activites:nth-child(3)
    {
        width: 49%;
    }
    .bulles-activites:nth-child(4)
    {
        width: 49%;
    }
    .bulles-activites:nth-child(5)
    {
        width: 49%;
    }
    .bulles-activites:nth-child(6)
    {
        width: 49%;
    }
    
}
@media all and (min-width: 1024px) and (max-width: 1400px)
{
    #inscrire
    {
        margin-left: 950px;
    }
    header ul
    {
        margin-left: -200px;
    }
    header li 
    {
        margin-left: 300px;
    }
    .ecart2
    {
        margin-left: 1px;
    }
    .photos
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .images
    {
        width: 250px;
    }
    .conteneur-bulles-activites
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bulles-activites:nth-child(1)
    {
        width: 250px;
        height: 200px;
    }
    .bulles-activites:nth-child(2)
    {
        width: 350px;
        height: 200px;
    }
    .bulles-activites:nth-child(3)
    {
        width: 250px;
        height: 200px;
    }
    .bulles-activites:nth-child(4)
    {
        width: 350px;
        height: 200px;
    }
    .bulles-activites:nth-child(5)
    {
        width: 250px;
        height: 200px;
    }
    .bulles-activites:nth-child(6)
    {
        width: 350px;
        height: 200px;
    }
    .pied
    {
        width: 248px;
    }
}
@media all and (min-width: 1800px)
{
    .images
    {
        width: 300px;
        height: 250px;
    }
    #conteneur
    {
        height: auto;
    }
    .box-1
    {
        height: auto;
    }
    .box-2
    {
        height: auto;
    }
    .template
    {
        width: 450px;
        height: 200px;
        margin-top: 10px;
    }
    .bonobo
    {
        width: 200px;
        height: 196px;
    }
    .adroitetavu
    {
        
        margin-left: 220px;
        margin-top: 20px;
    }
    .visuel
    {
        width: 296px;
        height: 200px;
    }
    .pied
    {
        
        width: 296px;
        height: 100px;
        margin-top: 150px;
    }
    .box-1 h2
    {
        font-size: 20px;
    }
    .box-1 p
    {
        font-size: 13px;
    }

    
}